
.header {
    background-color: #4D5F94;
    width: 100%;
    height:55px;
    position: aboslute;
}

.header h1 {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  margin: 0 0 0 5px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.dropdown {
  position: relative;
  display: inline;
  cursor: pointer;
}

.dropdown-menu {
  border-radius:0px;
  box-shadow:none;
  border:none;
  min-width: 200px;
  top: 32px;
  background-color: rgba(0,0,0,0.8);
}

.dropdown-menu li  {
  color: #fff;
  font-size: 16px;
  padding: 5px 15px;
  font-family: 'Montserrat Alternates', sans-serif;
}


.main {
  height: 900px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url ("http://chavez1310.github.io/mountains.jpeg");

}

.main h1{
  font-family: "Verdana";
  font-size: 30px;
  color: #D2D5DE;
  margin:0;
  text-align: center;
}

.main p{
  font-family: "Verdana";
  font-size: 15px;
  color: #D2D5DE;
  margin:0;
  text-align: center;
}

.aboutmepic {
  width: 100%;
  padding:5px;
  border: 15px, solid black;
  margin-left: auto;
  margin-right: auto;
}


.about {
  width:100%;
  padding: 15px;
  border: 5px; solid red;
  margin-left: auto;
  margin-right: auto;
  background-color:#4D5F94;
}

.about h3{
  font-size:30px;
  font-family: "Times New Roman", Times, serif;
  color:  #D2D5DE;
  text-align: center;
}

.about p{
  font-size: 14px;
  font-family: "Verdana", Times, serif;
  color:  #D2D5DE;
  text-align: center;
}

.workpics{
  width: 300px;
  padding:5px;
}

.contact {
    padding-top: 50px;
    padding-bottom: 110px;
    background-color: #4D5F94 ;
}

.contact  h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 300px;
  font-size: 60px;
  text-align:center;
}

.contact p {
  font-family: 'Gloria Hallelujah', cursive;
  text-align:center;
}

#client_logos {
  padding: 40px;
  display: inline-block;
    width:100%;
  position: absolute;
  left: 250px;
  }

}
 .contactwidgets {
  display: inline;

 }