.header{
  background-color:#687291

}

.header li{
  display: inline;
  color:#FFFFFF;

}

.main{
  background-image:url ("mountains.jpeg");
  background-repeat: no-repeat
  width:100%;
  height:300px;
}

.main h1{
  font-family: "Verdana";
  font-size: 30px;
  color: #D2D5DE;
  margin:0;
  text-align: center;
}

.main p{
  font-family: "Verdana";
  font-size: 15px;
  color: #D2D5DE;
  margin:0;
  text-align: center;
}

.aboutmepic {
  width: 100%;
  padding:5px;
  border: 15px, solid black;
  margin-left: auto;
  margin-right: auto;
}

.mypic {
  width: 80px;
  padding:0px;
}

.about {
  width:200px;
  padding: 15px;
  border: 5px; solid red;
  margin-left: auto;
  background-color:#4D5F94;
}

.about h3{
  font-size:30px;
  font-family: "Times New Roman", Times, serif;
  color:  #D2D5DE;
  text-align: center;
}

.about p{
  font-size: 14px;
  font-family: "Verdana", Times, serif;
  color:  #D2D5DE;
  text-align: center;
}

.workpics{
  width: 300px;
  padding:5px;
}

.contact {
    padding-top: 50px;
    padding-bottom: 110px;
    background-color: #f5f2e0 ;
}

.contact  h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 300px;
  font-size: 60px;
  text-align:center;
}

.contact p {
  font-family: 'Gloria Hallelujah', cursive;
  text-align:center;
}

.emailIcon {
  width: 9.9%;
  max-width: 80px;
  background-image: url(https://s3.amazonaws.com/agustinchavez.ninja/mail-with-circle.svg);
  height: 39px;
  margin: 25px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: top center;
 }

.twittericon {
  width: 9.9%;
  max-width: 80px;
  background-image: url(https://s3.amazonaws.com/agustinchavez.ninja/twitter-with-circle.svg);
  height: 39px;
  margin: 25px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: top center;
 }

 .githubicon {
  width: 9.9%;
  max-width: 80px;
  background-image: url(https://s3.amazonaws.com/agustinchavez.ninja/github-with-circle.svg);
  height: 39px;
  margin: 25px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: top center;
 }

 .googleplusicon {
  width: 9.9%;
  max-width: 80px;
  background-image: url(https://s3.amazonaws.com/agustinchavez.ninja/google%2B-with-circle.svg);
  height: 39px;
  margin: 25px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: top center;
 }

 .contactwidgets {
  display: inline-block;
 }
