.header{
  background-color:#C8C7C7;

}

.header li{
  display: inline;
  color:#FFFFFF;

}

.main{
  background-color:#E6E6E6;
  width:100%;
  height:5em;
}

.main h1{
  font-family: "Verdana";
  font-size: 200px;
  margin-right: 1em;
  margin-top: 1em;
  color: blue;
}

.main p{
  font-family: "Verdana";
  font-size: 100px;
  margin-right: 1em;
  margin-top: ;
  color: blue;
}

.aboutmepic {
  width: 300px;
  padding:5px;
  border: 15px, solid gray;
  margin: 5px;
}

.mypic {
  width: 80px;
  padding:0px;
}

.about {
  width:200px;
  padding: 5px;
  border: 15px; solid gray;
  margin: 2px;
  background-color:#CFCFCF;
}

.about h3{
  font-size:15px;
  font-family: "Times New Roman", Times, serif;
  color: #767474;
}

.about p{
  font-size: 9px;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.workpics{
  width: 100%;
  height: 1em;
}

.workpics ul li {
    background-image: url("http://image.shutterstock.com/display_pic_with_logo/164782/188478623/stock-vector-vector-urban-concept-in-flat-style-skyscrapers-and-modern-tall-buildings-city-illustration-188478623.jpg");
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 8em;
}

.workpics li{
  display: inline;
}